:host(app-ngrx-image-zoom) {
  display: block;
  position: relative;
  width: 500px;
  overflow: hidden;


  figure {
    display: block;
    background-repeat: no-repeat;
    background-size: 200;
    // background-position: top right;
    // background-origin: content-box, padding-box;

    img:hover {
      opacity: 0;
      cursor: zoom-in;
    }

    img {
      transition: opacity .5s;
      display: block;
      width: 100%;
    }

    position: relative;
    width: 500px;
    overflow: hidden;
  }

}
